@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F4F7;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    z-index: 100;
    width: 100%;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    background-color: white;
    border-radius: 20px;
}


.header_block h3 {
    display: inline;
    color: #2D66EE;
    margin-left: 20px;
    text-transform: uppercase;
    size: 20px;
}

.header_block ul {
    list-style-type: none;
    color: #2D66EE;
}

.header_block ol li {
    color: #2D66EE;
}

.header_block ol li a {
    color: #2D66EE;
}

.header_block li {
    display: inline;
    margin-right: 20px;
}

.header_block a {
    text-decoration: none;
}

.header_block img {
    vertical-align: middle;
    margin-right: 10px;
}

.first_block {
    background-color: #F2F4F7;
    display: flex;
    flex-direction: row;
}

.desc_cons_block {
    margin: 75px 100px 125px 100px;
    width: 60%;
}

.desc_block h3 {
    font-size: 48px;
}

.desc_block span {
    color: #2D66EE;
}

.cons_block {
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
}

.cons_block h4 {
    font-size: 18px;
    padding: 30px 20px;
}

.cons_input_block form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 20px;
}

.cons_input_block label {
    display: block;
    color: gray;
    font-size: 14px;
}

.cons_input_block input[type="text"],
.cons_input_block input[type="telephone"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #98A2B3;
}

.cons_input_block input[type="text"]:focus,
.cons_input_block input[type="telephone"]:focus {
    outline: none;
}

.cons_input_block input[type="submit"] {
    background-color: #2D66EE;
    color: white;
    border-radius: 5px;
    padding: 0 25px;
}

.screen_block {
    width: 40%;
}