@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.p{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;    
}

.h1{
    font-size: 64px;
    color: #1F3F68;    
}

.h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;    
}

.h3{
    font-size: 36px;
    text-align: center;    
}

.h4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;    
}

.inputOrTextarea{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit{
    background: linear-gradient(to right, rgb(63, 88, 170), rgb(122, 97, 223));
    border: 1px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.upBread{
    background: linear-gradient(rgb(255, 255, 255), rgb(57, 128, 129));
}

.upBread li {
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
    border-right: 2px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.upBread li a {
    color: #000000;
    text-decoration: none;
}

.upBread li a:hover {
    color: #ff1e00;
    text-decoration: none;
}